* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    color: #e51561;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
}
h1 {
    background-color: #030303;
}
body {
    color: #333333;
    font-family: "Roboto";
    background-color: #ffffff;
}
section, h1 {
    padding: 1rem;
}
.wireframe p, .wireframe img {
    margin: 1rem auto;
    display: block;
    text-align: center;
}
.wireframe img {
    width: 50%;
}