* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --primary-color: #0D47A1;
    --secondary-color: #1A73E8;
    --background-color: #c9c9c9;
    --opposite-text-color: #ffffff;
    --text-color: #212121;

    /* FONTS */
    --highlight: "Pacifico",'Times New Roman', Times, serif;
    --heading: "Fjalla One",'Times New Roman', Times, serif;
    --body: "Roboto",'Times New Roman', Times, serif;
}

/******************************* GENERAL STYLE *******************************/
body {
    font-family: var(--body);
    color: var(--text-color);
    background-color: var(--background-color);
}
h1 {
    font-family: var(--heading);
    padding: 0 10px;
}

/******************************* HEADER *******************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px;
    column-gap: 8px;
    align-items: end;
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--background-color);
}
header img {
    display: block;
    width: 100%;
    height: auto;
}
header span {
    font-family: var(--highlight);
    color: var(--opposite-text-color);
    font-size: 1.3rem;
}
/******************************* HAMBURGER *******************************/
.hamburger {
    background: none;
    border: none;
    color: var(--opposite-text-color);
    font-size: 1.3rem;
    cursor: pointer;
}
.hamburger::before {
    content: "\2630";
}
.hamburger.show::before {
    content: "\00D7";
}
/******************************* NAVIGATION *******************************/
.navigation {
    display: none;
    background-color: var(--primary-color);
}
.navigation ul {
    list-style-type: none;
}
.navigation a {
    display: block;
    padding: .9rem 10px;
    text-decoration: none;
    color: var(--opposite-text-color);
    border-bottom: solid 1px var(--background-color);
}
.navigation.show {
    display: block;
}
.navigation a:hover {
    background-color: var(--secondary-color);
}
.navigation .current {
    background-color: var(--text-color);
}
/******************************* MAIN DIRECTORY *******************************/
.menu {
    text-align: center;
}
.menu button {
    border: none;
    border-radius: 3px;
    background: none;
    background-color: var(--primary-color);
    color: var(--opposite-text-color);
    font-size: 1.3rem;
    width: 64px;
    height: 34px;
    cursor: pointer;
}
.menu button:hover {
    background-color: var(--secondary-color);
}
/******************************* CARDS SECTION *******************************/
.cards {
    color: var(--text-color);
    font-family: var(--body);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.grid section {
    border: solid var(--opposite-text-color) 1px;
    box-shadow: 0 0 30px #777;
    background-color: var(--opposite-text-color);
    padding: 2.5rem 1rem;
    margin: 1rem 10px;
    text-align: center;
    font-size: .9rem;
}
.grid section img {
    margin: 0 0 1rem 0;
}
.grid section p, .grid section h2 {
    margin: 0 0 .5rem 0;
}
section a {
    text-decoration: none;
    color: var(--text-color);
}
/******************************* LIST SECTION *******************************/
.list {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.list section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0 10px;
    padding: 2.5rem 10px;
    background-color: var(--opposite-text-color);
    text-align: start;
    font-size: .8rem;
}
.list section p, .list section h2 {
    padding: 0 .5rem 0 0;
}
/* .list section:nth-child(even) {
	background-color: #e7eaed;
} */
.list img {
    display: none;
}
/******************************* MEMBERSHIP LEVEL *******************************/
.cards .gold , .list .gold{
    background-color: #eceba9;
}
.cards .silver {
    background-color: #d3ddee;
}
.cards .gold .membership-gold, .cards .silver .membership-silver, .cards .membership-member {
    border: solid black 1px;
    border-radius: 22px;
    width: 14rem;
    height: auto;
    margin: .5rem auto;
    padding: 3px;
    font-weight: bold;
}
.list .gold .membership-gold, .list .membership-silver, .list .membership-member{
    text-align: center;
}
.membership-gold {
    background-color: gold;
}
.membership-silver {
    background-color: silver;
}

/******************************* FOOTER *******************************/
footer {
    padding: 1rem;
    color: var(--opposite-text-color);
    background-color: var(--primary-color);
    text-align: center;
}
.social {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    padding: 1rem 0;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px var(--background-color);
    border-radius: 22px;
}
.social img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: var(--secondary-color);
}

/******************************* MAIN HERO SECTION / index.html *******************************/
.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.hero-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: var(--primary-color);
}
.hero-content h1 {
    color: var(--opposite-text-color);
}
.hero-content a {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--opposite-text-color);
    padding: 1rem;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-content a:hover {
    background-color: var(--secondary-color);
}
/*******************************  EVENTS WEATHER SECTION / index.html *******************************/
.events-weather-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.events-weather-container h2, .events-weather-container h3 {
    margin: .5rem 0;
    font-size: 2rem;
}
.events, .weather {
    border: solid gray 1px;
    border-radius:18px;
    background-color: var(--opposite-text-color);
    padding: 2.5rem 1rem;
    margin: 1rem 10px;
    text-align: center;
    font-size: .9rem;
}
.events ul {
    list-style-type: none;
    font-size: 1rem;
}
.current-weather figcaption {
    text-transform: capitalize;
    font-size: 1rem;
    margin: .5rem 0;
}
.current-weather p {
    font-size: 2rem;
}
.forecast {
    font-size: 1rem;
}
/******************************* MAIN FORM SECTION / join.html *******************************/
.form-title {
    margin-bottom: 10px;
    color: #042e6e;
}
form {
    margin: 1rem 10px;

    label {
        display: block;
        color: #042e6e;
        padding-top: .2rem;
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    select {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: solid #999 1px;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        font-size: 1rem;
        color: #3D405B;
        width: 300px;
    }
    textarea {
        max-width: 300px;
        min-width: 300px;
        min-height: 50px;
        max-height: 50px;
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: solid #999 1px;
        border-radius: 4px;
        font-size: 1rem;
        color: #3D405B;
        
    }

    input:required {
        border-left-color: red;
    }
    input:focus {
        border-left-color: black;
        outline: none;
    }
    input:required:valid {
        border-left-color: green;
    }
    input[type=submit] {
        display: block;
        border: none;
        text-align: center;
        background-color: var(--primary-color);
        color: var(--opposite-text-color);
        border-radius: 1rem;
        padding: .6rem 1.5rem;
        margin: 2rem 0;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: var(--secondary-color);
    }
}
input:-webkit-autofill {
    -webkit-text-fill-color: var(--secondary-color);
}

/******************************* MEMBERSHIP SECTION / join.html *******************************/
.membership-h2 {
    margin: 15px 10px 0;
    color: #042e6e;
}
#membership-cards div {
    margin: 10px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #d3ddee;
    box-shadow: 0 0 10px black;
    text-align: center;
    max-width: 300px;
}
#membership-cards div button {
    padding: 3.5px;
    border-radius: 2px;
    border: solid black 1px;
}
#membership-cards div h3 {
    margin-bottom: 5px;
}
/******************************* DIALOG / join.html *******************************/
#mydialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: var(--opposite-text-color);
    padding: 1rem;
}
#mydialog div {
    display: grid;
    grid-template-columns: 1fr 44px;
    margin-bottom: 1rem;
}
::backdrop {
    background-color: rgb(0 0 0 / 50%);
}