@media only screen and (min-width: 38rem) {
    /******************************* HEADER *******************************/
    header {
        grid-template-columns: 24px auto;
    }
    /******************************* HAMBURGER *******************************/
    .hamburger {
        display: none;
    }
    /******************************* NAVIGATION *******************************/
    .navigation {
        display: block;
    }
    .navigation ul {
        display: flex;
    }
    .navigation li {
        flex: 1 1 100%;
    }
    .list section {
        grid-template-columns: repeat(5, 1fr);
    }
    
}

@media only screen and (min-width: 30rem) {
    /******************************* FORM join.html *******************************/
    .join-grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 10px;
    } 
    #membership-cards div {
        max-width: 100%;
    }

}