* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --primary-color: #1E3A8A;
    --secondary-color: #F97316;
    --text-color: #374151;

    /* FONTS */
    --highlight: "Pacifico",'Times New Roman', Times, serif;
    --heading: "Fjalla One",'Times New Roman', Times, serif;
    --body: "Roboto",'Times New Roman', Times, serif;
}

/******************************* GENERAL STYLE *******************************/
body {
    font-family: var(--body);
    color: var(--text-color);
}
h1, header span {
    font-family: var(--highlight);
    color: var(--primary-color);
}
h2 {
    font-family: var(--heading);
    color: #1E3A8A;
}

/******************************* HEADER *******************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
    align-items: end;
    border-bottom: solid 1px #ddd;
}
header img {
    display: block;
    width: 100%;
    height: auto;
}
header span {
    font-size: 1.2rem;
}

/******************************* HAMBURGER BTN *******************************/
.hamburger {
    border: none;
    background: none;
    color: var(--primary-color);
    cursor: pointer;
}
.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}
.hamburger.show::before {
    content: "\00D7";
    font-size: 1.5rem;
}

/******************************* NAVIGATION BAR *******************************/
.navigation {
    display: none;
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
}
.navigation a { 
    display: block;
    padding: .9rem 10px;
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: solid 1px darkgray;
    
}
.navigation .current {
    background-color: #ddd;
}
.navigation a:hover {
    background-color: var(--secondary-color);
}

/******************************* MAIN *******************************/
main {
    margin: 0 10px;
}
section h2 {
    color: #ddd;
    padding: .5rem 0;
    text-align: center;
    background-color: var(--primary-color);
}
section {
    background-color: rgba(128, 128, 128, 0.258);
    margin: 1rem 0;
}

/******************************* ABOUT SECTION *******************************/
.about p {
    padding: 1rem 10px;
}
.student img {
    display: block;
    width: 260px;
    height: auto;
    margin: 0 auto;
    padding: 15px 0;
}

/******************************* COURSES SECTION *******************************/
.courses {
    text-align: center;
}
.buttons {
    margin: 10px 5px;
    display: flex;
    column-gap: 8px;
}
.buttons button {
    border: solid black 1px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: .5rem;
    flex: 1 1 100%;
    cursor: pointer;
}
.buttons button:hover {
    background-color: var(--secondary-color);
}
#courses-card p {
    margin: 10px;
    padding: .3rem 0;
}
.completed {
    background-color: var(--primary-color);
    color: white;
}
.not-completed {
    background-color: var(--text-color);
    color: white;
}
.totalcredits {
    margin: 10px;
}

/******************************* FOOTER *******************************/
footer {
    margin: 0 10px;
    text-align: center;
    color: var(--primary-color);
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding: .7rem 0;
}
.social a {
    display: flex;
    justify-content: center; /* left to right / using flex */
    align-items: center;/* top to bottom / using flex */
    width: 54px;
    height: 54px;
    border: solid 1px #ccc;
    border-radius: 44px;
}
.social img {
    width: 32px;
    height: 32px;
}
.social a:hover {
    background-color: #b1b1b1;
}
.datejs {
    padding: 1rem;
    background-color: #1E3A8A;
    color: white;
}