:root {
    /* COLORS */
    --primary-color: #1E3A8A;
    --secondary-color: #F97316;
    --text-color: #374151;

    /* FONTS */
    --highlight: "Pacifico",'Times New Roman', Times, serif;
    --heading: "Fjalla One",'Times New Roman', Times, serif;
    --body: "Roboto",'Times New Roman', Times, serif;
}

/******************************* GENERAL STYLE *******************************/
body {
    font-family: var(--body);
    color: var(--text-color);
}
h1 {
    font-family: var(--highlight);
    color: var(--primary-color);
}
h2 {
    font-family: var(--heading);
    color: #1E3A8A;
}

/******************************* HEADER *******************************/
