* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --primary-color: #1E3A8A;
    --secondary-color: #F97316;
    --text-color: #374151;
;

    /* FONTS */
    --highlight: "Pacifico",'Times New Roman', Times, serif;
    --heading: "Fjalla One",'Times New Roman', Times, serif;
    --body: "Roboto",'Times New Roman', Times, serif;
}

/****************************** GENERAL STYLE ******************************/
body {
    background-color: rgba(128, 128, 128, 0.258);
    color: var(--text-color);
    font-family: var(--body);
}
h1, h2, h3 {
    font-family: var(--heading);
}
h2 {
    color: #fff;
}
h1 {
    color: var(--primary-color);
}

/****************************** HEADER ******************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    grid-gap: .5rem;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem 1rem 1rem .5rem;
}
header img {
    display: block;
    width: 100%;
    height: auto;
}
header span {
    font-size: 1.5rem;
    font-family: var(--heading);
    color: #fff;
}

/****************************** HAMBURGER ******************************/
.hamburger {
    background-color: var(--primary-color);
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::before {
    content: "\2630";
}
.hamburger.show::before {
    content: "\00D7";
}

/****************************** NAVIGATION ******************************/
.navigation {
    display: none;
    background-color: var(--primary-color);
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
}
.navigation a {
    display: block;
    padding: 1rem 1rem 1rem .5rem;
    color: #fff;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}
.navigation li .current {
    background-color: #0e1e4d60;
}
.navigation a:hover {
    background-color: var(--secondary-color);
}

/****************************** MAIN ******************************/
main h1 {
    margin: .5rem;
}
.card {
    margin: 0.5rem;
    background-color: #D5D5D5;
}
.card h2 {
    padding: .5rem;
    text-align: center;
    background-color: var(--primary-color);
}
.card p {
    padding: .5rem;
}
.card img {
    display: block;
    width: 320px;
    height: auto;
    margin: 0 auto;
}

/****************************** FOOTER ******************************/
footer {
    text-align: center;
}
.social {
    margin: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 22px;
}
.social img {
    width: 42px;
    height: 42px;
}
.social a:hover {
    background-color: #F97316;
}
.info {
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}
.info span {
    color: var(--secondary-color);
}