@media only screen and (min-width: 63.7rem) { 

   #packages-container {
        transform: translateY(-50%);
        
    }   
    .hero {
        margin-bottom: -15rem;
    }
    /* .package-card {
        box-shadow: none; 
    } */
    /******************************* JOBS SECTION / service.html *******************************/
    #jobs-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #jobs-grid div {
        grid-template-areas:
        "image title"
        "image car"
        "image duration"
        "image location";
    }
}